{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %} 
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if user.is_authenticated %}
                    <h1>Olá {{ user.get_full_name }}!</h1>
                    <span class="subheading">Que bom que você voltou :)</span>
                    {% else %}
                    <h1>Bem Vindo(a)</h1>
                    <span class="subheading">Você não está logado(a)! <a href="{% url 'login' %}">Click aqui</a> para fazer login!</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in object_list %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.content }}</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#">{{ post.author }}</a>
                    em {{ post.published }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                    →</a></div>
        </div>
    </div>
</div>
{% endblock content %}