{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block header-title %}
{% if user.is_authenticated %}
<h1>Olá {{ user.get_full_name }}!</h1>
<span class="subheading">Que bom que te ver aqui :)</span>
{% else %}
<h1>Bem Vindo(a)</h1>
<span class="subheading">Você não está logado(a)! <a href="{% url 'login' %}">Click aqui</a> para fazer login!</span>
{% endif %}
{% endblock header-title %}

{% block content %} 
<!-- Post preview-->
{% for post in object_list %}
<div class="post-preview">
    <a href="{{ post.get_absolute_url }}">
        <h2 class="post-title">{{ post.title }}</h2>
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    </a>
    <p class="post-meta">
        Postado por
        <a href="#">{{ post.author.get_full_name }}</a>
        em {{ post.published }}
    </p>
    <p>
        {{ post.content|safe|striptags|truncatechars:'255' }}
    </p>
</div>

<!-- Divider-->
<hr class="my-4" />
{% endfor %}

<!-- Pager-->
<div class="d-flex justify-content-end mb-4"><a class="btn btn-outline-dark text-uppercase" href="#!">Older Posts →</a></div>
{% endblock content %}