{% extends 'base.html' %}

{% block title %} Editar Postagem {% endblock title %}

{% block header-title %} 
<div class="page-heading">
    <h1>Editar Postagem</h1>
    <span class="subheading">{{user.first_name}} este local é para a edição da sua postagem.</span>
</div>
{% endblock header-title %}

{% block content %}
<form method="post" class="centralizar">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success centraliza" type="submit">Finalizar edição</button>
</form>
{% endblock content %}