{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block header-title %}
<h1>{{ post.title }}</h1>
<h2 class="subheading">{{ post.subtitle }}</h2>
<span class="meta">
    Postado por
    <a href="#!">{{ user.get_full_name }}</a>
    em {{ post.published }}
</span>
{% endblock header-title %}

{% block content %}
<p>
    {{ post.content|safe }}
</p>
<hr class="my-4"/>
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <a class="btn btn-outline-dark text-uppercase" href="{{ post.get_absolute_url_edit }}">Editar Postagem</a>
    <a class="btn btn-outline-danger text-uppercase" href="{% url 'post_del' post.slug %}">Excluir Postagem</a>
</div>
{% endblock content %}