{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block title %} Editar Postagem {% endblock title %}

{% block header-image %}
    {% if not post.image %}
    style="background-image:url('{% static "/assets/img/home-bg.jpg" %}')"
    {% else %}
    style="background-image:url('{{ post.image.url }}')"
    {% endif %}
{% endblock header-image %}

{% block header-title %} 
<div class="page-heading">
    <h1>Editar Postagem</h1>
    <span class="subheading">{{user.first_name}} este local é para a edição da sua postagem.</span>
    <p>⇩⇩⇩</p>
</div>
{% endblock header-title %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button class="btn btn-outline-dark text-uppercase" type="submit">Finalizar edição</button>
    </div>
</form>
{% endblock content %}