{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block title %} Contato {% endblock title %}

{% block header-image %}
style="background-image:url('{% static "/assets/img/contact-bg.jpg" %}')"
{% endblock header-image %}

{% block header-title %}
<div class="page-heading">
    <h1>Contato</h1>
    {% if user.is_authenticated %}
    <span class="subheading">{{user.first_name}} tem alguma pergunta?</span>
    {% else %}
    <span class="subheading">Tem alguma pergunta?</span>
    {% endif %}
    <p>⇩⇩⇩</p>
</div>
{% endblock header-title %}

{% block content %}
{% load bootstrap %}
<div class="my-5">
    {% if not success %}
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="d-grid gap-2 col-6 mt-4 mx-auto">
            <button class="btn btn-outline-dark text-uppercase" id="submitButton" type="submit">Send</button>
        </div>
    </form>
    {% else %}
    <div class="text-center alert alert-success" role="alert">
        Mensagem enviada com sucesso!
    </div>
    {% endif %}
</div>
{% endblock content %}